/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 50px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}